

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,900&subset=latin,cyrillic);

html, body {
  height: 100%;
}

body {
  font:normal 100% 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color:#798289;
}

* {
	box-sizing:border-box;
}

p {
  margin:0;
}

img {
/*  max-width: 100%;
*/}

.content {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}

.content:after {
	content: "";
	display: table;
	clear: both;
}

#fullpage {
  
}

div.section:nth-of-type(1) {
  background: url(../img/bg/bg1.jpg) center center no-repeat rgba(39,40,34,1);
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
       opacity: 1;
       filter: alpha(opacity=50); /* For IE8 and earlier */
}

div.section:nth-of-type(2) {
  background: url(../img/bg/bg.jpg)  #E15F4B;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
      
/*url(../img/bg/bg2.jpg)*/
}


div.section:nth-of-type(3) {
  background: url(../img/bg/bg3.jpg) #E15F4B;
   -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

div.section:nth-of-type(4) {
  background: url(../img/bg/bg4.jpg) #32C465;
   -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

div.section:nth-of-type(5) {
  background: url(../img/bg/bg5.jpg) #FF00FF;
   -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

div.section:nth-of-type(6) {
  background: url(../img/bg/bg6.jpg) #8685AC;
   -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

div.section:nth-of-type(7) {
  background: url(../img/bg/bg7.jpg) #0850CF;
   -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

div.section:nth-of-type(8) {
  background: url(../img/bg/bg8.jpg) #FFCC66;
   -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

div.section:nth-of-type(9) {
  background: url(../img/bg/bg9.jpg) #008040;
   -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

div.section:nth-of-type(10) {
  background: url(../img/bg/bg11.jpg) #6666FF;
   -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;

}


#menu {
    height: 100px;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 70;
    text-align: left;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    // background: #fff;
    text-align: center;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.58);
    -moz-box-shadow:    0px 3px 6px 0px rgba(50, 50, 50, 0.58);
    box-shadow:         0px 3px 6px 0px rgba(50, 50, 50, 0.58);

}

#menu li {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    color: #000;
    display: inline-block;
    margin: 2px;
}

#menu li a, #menu li.active a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color:#ccc;
}

#menu li.active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #fff;
}   

#menu li a {
  color: #636363;
}
#menu a img {
  height: 40px;

  -webkit-border-radius: 50%;
          border-radius: 50%;
}
#menu a span {
  display: block;
}
/**/
#header {
    height: 100%;
    min-height: 300px !important;
    position: relative;
}


#header .wrap {
    left: 50%;
    max-width: 800px;
    padding: 0 15px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

#header h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 900;
    line-height: 95px;
    padding-top: 50px;
    margin: 0 0 20px;
    text-align: center;
}

#header p {
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    background: rgba(0,0,0,0.5);
    padding: 20px;
    text-align: justify;
}


.imgNumber {
  position: relative;
  left: 30px;
}

.imgNumber img {
  position: absolute;
  
  margin-top: 10%;

  width: 300px;
  border: 5px solid #E6E3F9;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}



.backToSitehereBtn{
  /*max-width: 100%;*/
  z-index: 71;
  display: block;
  width: 150px;
  height: 150px;
  /*background: #01BC78;*/
  text-align: center;
  line-height: 170px;
  font-size: 20px;
  border-radius: 50%;
  color:#fff;
  position: absolute;
  text-decoration: none;
  top: 30px;
  left:-25px;
  transform:rotate(-90deg) scale(.3);
  transition:all 0.25s linear;
}

.backToSitehereBtn:hover {
  text-decoration: none;
  top:30px;
  left:-15px;
  transform:rotate(0deg) scale(.8);

}

#logo {
  z-index: 5;
  /*// max-width: 100px;*/
  display: block;
  /*// position: absolute; 
  // height: 100px;
  // top: 10px;
  // left: 15px;*/
width: 15%;
float: left;
}
#menu #logo  img {
  height: 100px;
  margin-left: -40px;
}
#menu ul {

  position: relative;
  padding: 0;
  padding-top: 10px;
  float: left;
  margin: 0;
  width: 85%;
  /*margin-left: -20;*/

}
.info {
  position: relative;
}
.fio {
  position: absolute;
  top: 180px;
  left: 500px;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: rgb(0,0,0,.5);
  height: 20px;
  text-shadow: 1px 1px 2px black, 0 0 1em grey;
}




.about,
.target,
.power,
.role {
  font-size: 18px;/*
  max-width: 784px;
    margin-left: 20%;*/
    margin-bottom: 20px;
  color: #fff;
text-shadow: 1px 1px 2px black, 0 0 1em grey;
}
}

.about {
  /*padding-top: 270px;
  padding-left: 50px;*/
}

.span-title {
  font-size: 30px;
  color: #c2c2c2;
}
.info_about {
  display: block;
  background: rgba(0,0,0,0.3);
  padding: 20px;
  margin-right: 150px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
   position: absolute;
    top: 270px;
    left: 400px;
    line-height: 2em;
    min-width: 1000px;
    max-width: 100%;
}